html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
}

#footer p {
    line-height: 40px;
    margin: 0;
}

#input {
    min-height: 400px;
}

@media (min-width: 992px){
    #input {
        margin-top: -20px;
    }
}

.output {
    padding: 0 1em;
    top: 0;
}

#title .home,
#title .home:hover {
    color: #777;
    margin: 0;
    padding: 16px;
    text-decoration: none;
}

#title .message {
    font-size: 40%;
}

#title .message a,
#title .message span {
    display: inline-block;
    margin: 0 16px;
}
